
@{
    ViewBag.Title = "designation";
    Layout = "~/Views/Shared/TSLayout.cshtml";
}
@model EmployeeManagement.BusinessObjects.Designation
<h1></h1>

<style>
    .tdwidth {
        width: 50% !important;
    }

    @@media (max-width:576px) {
        .mts {
            margin-top: 0px !important;
        }
    }

    .mts {
        margin-top: 28px;
    }

    label {
        color: #212121;
        font-weight: 600 !important;
    }

    a {
        color: #e0ba00;
    }

    .rules {
        color: #b56800 !important;
        font-weight: 700;
    }

    @@media (min-width:576px) {
        .modal-dialog1 {
            max-width: 800px;
            margin: 1.75rem auto
        }
    }

    .modaloverflow {
        height: 600px;
        overflow-y: auto;
    }

    table.dataTable thead > tr > th {
        color: #fff;
        background-color: #223035;
    }

    .table th {
        padding: 7px !important;
    }

    .btn1 {
        padding: 2px 6px;
    }

    .btnspace {
        margin-right: 5px;
    }


    .btn-group {
        box-shadow: none;
    }

        .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
</style>
<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumb-->
        <!-- End Breadcrumb-->
        <div class="row pt-4 pb-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Edit Designation
                        <button type="button" class="btn btnspace btn-primary btn-sm float-right" onclick="Create()">Back to List </button>
                    </div>
                    <div class="card-body">

                        <div id="success_message" class="ajax_response" style="float:left"></div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Designation Name:</label>
                                    <input type="text" class="form-control" id="designationname" name="designationname" value="@Model.DesignationName" />
                                </div>
                                <span id="errmsg_designationName" style="color:red"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Short Name:</label>
                                    <input type="text" class="form-control" id="shortname" name="shortname" value="@Model.Shortname"  />
                                </div>
                                <span id="errmsg_shortName" style="color:red"></span>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" id="btnsubmit" class="btn btn-primary mts"  onclick="save(@Model.Id)">SAVE</button>
                                    <button type="submit" id="btnsubmit" class="btn btn-primary mts" onclick="cancel()">Cancel</button>
                                    <button type="button" class="btn btn-danger mts" id="btnreset" value="cleardata" onclick="reset(@Model.Id)">RESET</button>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row-->
    </div>
    <!-- End container-fluid-->

</div><!--End content-wrapper-->
<script type="text/javascript">
     

    function save(id) {
        debugger;
        if ($("#designationname").val() == "") {
            $("#errmsg_designationName").text("Designation name can not be blank");
            return false;
        }
        else if ($("#shortname").val() == "") {
            $("#errmsg_shortName").text("Short name can not be blank");
            return false;
        }
        else {

            $.ajax({
                type: "POST",
                url: "updatedesignation?id=" + id,
                data: {
                    DesignationName: $('#designationname').val(), 
                    Shortname: $('#shortname').val()
                },
                success: function (data) {
                    $('#success_message').fadeIn().html(data);
                    setTimeout(function () {
                        $('#success_message').fadeOut("slow");
                    }, 2000);
                    reset();

                }
            });
        }

    }
    function reset(id) {

        location.href = "/Admin/editdesignation?id=" + id;
    };
    function cancel() {
        location.href = "/Admin/designation";
    }


</script>